
/*##########################################################
#################### Format document  ######################
##########################################################*/


body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #343434;
	font-size: 17px;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

span {
	margin: 0;
	padding: 0;
}

/* custom styles */

.ef-carousel{
	display: none;
}

.content_page {
	max-width: 1280px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 2;
	font-size: 19px;
	/* display: grid; */
	/* grid-template-columns: 55% 45%;
	grid-template-areas:
		'title-container image-head-page'
		'info-head-page image-head-page'
		'main main'; */
}

.bg_section_1 h1{
	font-weight: bold;
	font-size: 28px;
}


.content_page p {
	color: #575757;
	line-height: 1.7;
	font-size: 17px;
	margin: 10px auto;
}


.content_page h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}


.yellow_section_3 h3 {
	font-size: 32px;
	margin: 0;
}
.yellow_section_5 h3 {
	font-size: 32px;
	margin: 0;
}

.content_page span {
	color: #575757;
	line-height: 2;
	font-size: 17px;

}


/*##########################################################
########### styles in first section HEAD ##################
##########################################################*/


.bg_section_1{
	background-image: url('../images/bg_section_1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	/* height: 370px; */
	/* width: 100%; */
	max-width: 1600px;
	margin: auto;
	color: white;
	padding: 70px 0 0 0;
	min-height: 370px;
}

.bg_section_1 .yellow_line{
	background: #FBD600;
	color: black;
	width: 30%;
	padding: 15px 40px;
	display: flex;
	text-align: right;
	justify-content: flex-end;
}
.bg_section_1 .yellow_line img{
	width: 60px;
	margin: 0 20px 0 0;
	height: 60px;
}

.bg_section_1 .content_yellow{
	width: 25%;
	max-width: 30%;
}
.bg_section_1 .content_yellow .bg_black{
	background: black;
	padding: 10px 30px;
	position: relative;
	left: 160px;
	line-height: 2;
}
.section_2{
	padding: 150px 0 20px;
}

.bg-section_2{

	background: url(../images/bg_section_2.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	min-height: 331px;
	position: relative;
	max-width: 1280px;
	/* width: 90%; */
	margin: auto;
	/* padding-right: 15px;
	padding-left: 15px; */
}

.bg-section_2 .bg-black_section_2 {
	background: black;
	padding: 10px;
	width: 88%;
	position: relative;
	top: -40px;
	display: flex;
	justify-content: flex-end;
}

.bg-section_2 .bg-black_section_2 img {
	width: 36px;
	height: 36px;
	padding: 15px 0 0 0;
}

.bg-section_2 .bg-black_section_2 h3 {
	color: #FBD600;
	padding: 0px 100px 0 20px ;
}

.bg-section_2 .info-section_2 {
	display: flex!important;
}

.bg-section_2 .info-section_2 .text {
	width: 82%;
    position: absolute;
    top: 42px;
    right: -91px;
}

.bg-section_2 .info-section_2 p{
	text-align: justify;
	color:white;
	padding: 3px 0;
	position: relative;
	left: 23%;
	line-height: 2;
	width: 55%;
}



 .bg-section_2 .info-section_2  .img{
position: absolute;
}

.bg-section_2 .info-section_2  .img img{
	width: 325px;
	position: absolute;
    top: -192px;
	left: 110px;
}
.sub_tile_1{
	text-align: center;
	color: #FBD600;
	padding: 50px 0;
}

.bg-section_3{
	/* padding: 70px 80px; */
	background: url(../images/bg_section_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	min-height: 480px;
	max-width: 1280px;
    margin: auto;
}

.responsive_display{
	display: none;
}


.section_4{
	margin: 5% 10%;
}

/* .icon_white {
	content: '>';
	position: absolute;
	width: 22px;
	padding: 10px;
	height: 22px;
	color: #343434!important;
	background: white;
	left: 149px;
	top: 100px;
} */

.section_4 li{
	background: #5b5b5b;
	color: #d6d6d6;
	display: grid;
	grid-template-columns: 5% 85%;
	padding: 5px 20px 0 30px;
	margin: 10px 0;
	text-align: start;
}

.section_4 .black_section_4{
	background: #000000;
	color: #ececec;
	width: 414px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.section_4 .black_section_4 span {
	color: #d6d6d6;
}

.section_4 li span{
	background: black;
    /* padding: 3px; */
    width: 28px;
	height: 28px;
	color: #ececec;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
	font-size: 22px;
	position: relative;
	top: 12px;
}

.section_4 li p{
	color: #d6d6d6;
	width: 100%;
	text-align: start;
	padding: 0 0 0 15px;
}

.section_4 li p button{
	color: #FBD600;
	border: none;
    background: transparent;
    font-size: 20px;
}


.icons_section{
	display: flex;
	width:92%;
	margin: auto;
	/* overflow: scroll; */
}

.icons_section .icon_1{
	min-width: 144px;
	min-height: 144px;
	margin: 20px 40px		;
}

.icons_section .icon_1 img{
	width: 144px;
}

.icons_section .icon_1 p{
	text-align: center;
color: #ececec;
}

.section_5 .bg_section_5{
	background: url(../images/bg_section_5.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 354px;
	max-width: 1280px;
    margin: auto;
}

.section_5 .bg-content_l .yellow_section_5{
	background: #FBD600;
	width: 35%;
	line-height: 1.2;
	padding: 15px 40px;
}
.section_5 .bg-content_l .yellow_section_5 h2 {
	margin: auto;
	width: 100%;
}

.section_5 .bg_section_5.bg-content_l .responsive_none .info_section_5{
	width: 50%;
	margin: auto;
	padding: 35px 0 0 0;
	text-align: center;
}

.section_5 .bg-content_l .info_section_5{
	width: 65%;
	margin: auto;
	text-align: center;
}

.section_5 .bg-content_l .info_section_5 p{
	color: #ececec;
}

.section_5 .bg-content_l .responsive_none .info_section_5 p{
	font-size: 24px;
	line-height: 1.8;
}


.section_5 .cards_section_5{
	display: flex;
}

.section_5 .cards_section_5 .card_white_5 {
	background: #d6d6d6;
	color: #557757;
	padding: 0 25px;
	text-align: center;
	min-height: 190px;
	display: flex;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.section_5 .cards_section_5 .card_white_5 button {
	border: none;
	background: #000000;
	color: #ececec;padding: 10px;
	text-align: center;
	width: 209px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 12px;
}

.pl{
	margin-left: 8px;
}


.pr{
	margin-right: 8px;
}

.bg_section_7{
	background: url(../images/bg_section_7.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	min-height: 480px;
	max-width: 1280px;
    margin: auto;
}



.bg-content_ll  .info_section_3 {
	width: 45%;
	position: relative;
	top: 30px;
}
.bg-content_ll .info_section_3 .yellow_section_3{
	background: #FBD600;
	line-height: 1!important;
	padding: 20px 40px;
}
.bg-content_ll .info_section_3 .yellow_section_3 span {
	font-size: 25px;
	/* line-height: 1; */
}
.bg-content_ll .info_section_3 p {
	padding: 20px 25px;
	line-height: 1.5;
	color: #ececec;
}
.bg-content_ll .info_section_3 .white_section_3{
	background: #ececec;
	line-height: 1.3;
	color: #343434!important;
	padding:  0 3px 0 0 ;
	text-align: center;
}



.bg-content_ll .info_section_3 .white_section_3 button{
	border: none;
    background: #000000;
    color: #ececec;
    padding: 10px;
    text-align: center;
    width: 209px;
    font-size: 20px;
    font-weight: bold;
	border-radius: 12px;
	position: relative;
	top: 20px;
}

.bg-content_ll .info_section_3 .white_section_3 p {
	color: #343434!important;
	text-align: justify;
}


.responsive_display p {
	color: #ececec!important;
	padding: 10px;
}

.responsive_display .white_section_3 {
	background: #ececec!important;
	padding: 10px;
}

.responsive_display .white_section_3  p {
	color: #343434!important;

}

.bg_section_9{
	background: url(../images/bg_section_9.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* padding: 10px 0 140px; */
	min-height: 354px;
	max-width: 1280px;
    margin: auto;
}



.bg_section_11{
	background: url(../images/bg_section_11.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* padding: 10px 0 140px; */
	display: flex;
	justify-content: flex-end;
	min-height: 480px;
	max-width: 1280px;
    margin: auto;
}

.section_12 .first-section{
	text-align: center;
}


.section_12 .first-section h2{
	color: #FBD600;
}

.section_12 .first-section span{
	color: #ececec;
}

.section_12 button.sodimac{
	background: #dd0021;
	border: none;
	padding: 15px 30px;
	text-align: center;
	color: #ececec;
	font-size: 20px;
	font-weight: bold;
	min-width: 190px;
	margin: 16px 0 0 0;
}

.section_12 button.maestro{
	background: #ffffff;
	border: none;
	padding: 15px 30px;
	text-align: center;
	color: #1e1e1e;
	font-size: 20px;
	font-weight: bold;
	margin: 0 8px;
	min-width: 190px;

}

.section_12 .second-section{
	display: flex;
}

.section_12 .section_cities .lima{
	display: grid;
	grid-template-columns: 50% 50%;
}


.section_12 .section_cities .pronvincia{
	display: grid;
	grid-template-columns: 50% 50%;
}

.section_12 .info_city{
	margin: 15px 10px;
	background: #575757;
	color: #ececec;
	padding: 20px 15px;
	display: grid;
    grid-template-columns: 19% 48% 35%;
}

.section_12 .info_city span {
	color: #ececec;
}

.section_12 .info_city span img {
	padding: 0 2px 0 0;
}

.section_12 .info_city span a {
	color: #ececec;
	text-decoration: none;
	border-bottom: 3px solid #FBD600;
}

.info_city span.yellow_text{
	color: #FBD600;
	font-weight: bolder;
	padding: 0 10px;
}

.info_city span.map_line {
	margin: 0 45px;
}
.icons_section .icon_1 .yellow-span  {
	color: #FBD600!important;

}

.bg_section_11 .info_section_3 .black_section_3{
	width: 50%;
	background: #000000;
	padding: 10px 20px;
	color: #ececec;
	font-weight: bold;
	font-size: 20px;
}


.section_12 .section_cities {
	background: #1e1e1e;
	padding: 10px;
}

.section_12 .buttons_places{
	display: flex;
}

.section_12 .buttons_places button{
	width: 50%;
	margin: auto;
	border: none;
	padding: 2%;
	color: #FBD600;
	background: transparent;
	font-weight: bold;
	font-size: 24px;
}

.section_12 .buttons_places  .bg_btn_black{
	background: #1e1e1e;
}

@media(min-width:800px) {}



@media(min-width:1280px) {

}

@media (max-width: 991px) {

.bg-content_ll {
	margin:30px 0 0 0;
}

section .bg-content_l {
	margin:40px 0 0 0;
}
}



@media (max-width: 1280px) {
	.bg_section_1 .content_yellow {
		width: 50%;
		max-width: 51%;
	}
}




@media (max-width: 1600px) {
.bg-section_2 .info-section_2 .text {
	width: 82%;
    position: absolute;
    top: 42px;
    right: 0!important;
}

}



@media (min-width: 1900px) {

	.content_page {
		max-width: 1280px;
		width: 100%;
		margin: auto;
	}
}

@media (max-width: 1400px) {
	.content_page {
		max-width: 1280px;
	}

	.content_page	.icons_section{
		justify-content: space-evenly;
	}
 	.content_page	.icons_section .icon_1 {
		min-width: 120px;
		min-height: 120px;
		margin: 20px 23px;
	}
}
@media (max-width: 1024px) {
	.bg-section_2 .info-section_2 .img img {
		width: 325px;
		position: absolute;
		top: -97px;
		left: 20px;
		
	}
	.section_12 .section_cities .lima{
		display: grid;
		grid-template-columns: 100%;
	}

	.section_12 .section_cities .pronvincia{
		display: grid;
		grid-template-columns: 100%;
	}

	bg_section_1 .content_yellow .bg_black {
		background: black;
		padding: 10px 30px;
		position: relative;

		text-align: center;
	}


	.content_page .responsive_display .white_section_3 .black_section_3{
		background: #000000!important;
		width: 70%;
		font-size: 13px;
		position: relative;
		top: -20px;
		right: 10px;
		padding: 10px 20px;
	}


	.content_page .responsive_display .white_section_3 .black_section_3 span{
		color: #ececec;
		font-weight: bold;
	}

	.bg-section_3 {
		min-height: 250px;
	}

	.bg-section_2 {
		min-height: 250px;
	}

	.section_5 .bg_section_5 {
		min-height: 250px;
	}

	.bg_section_7 {
		min-height: 250px;
	}

	.bg_section_9 {
		min-height: 250px;
	}

	.bg_section_11 {
		min-height: 250px;
	}

	.responsive_display{
		display: block;
		padding: 50px 0px 20px;
	}


	.responsive_none{
		display: none;
	}


	.icons_section {
		display: flex;
		width: 90%;
		margin: auto;
		/* overflow: scroll; */
		text-align: center;
	}


	.bg-section_2 .info-section_2 .text {
		width: 100%;
		position: initial;
		top: -40px;
	}
	.bg-section_2 .info-section_2 p {
		text-align: justify;
		color: white;
		padding: 3px 20px;
		position: initial;
		left: 0;
		line-height: 2;
		width: 95%;
	
	}

	.bg-section_2 .info-section_2 .img img {
		width: 202px!important;
    position: absolute!important;
    top: -293px!important;
    left: 355px!important;
    z-index: -1!important;

	}

	.section_2 {
		padding: 244px 0 20px;
	}

	.content_page  .responsive_display .white_section_3{
		text-align: center;		
	}
	.content_page  .responsive_display .white_section_3 button {
		background: #000000!important;
		color: #ececec;
		width: 85%;
		padding: 10px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin: auto;
	}

}

@media (max-width: 768px) {

	.ef-carousel{
		display:block;
	}
	.icons_section.c-none{
		display: none;
	}

	.content_page {
		max-width: 100%;
		/* width: 95%; */
	}
	.content_page span {
		font-size: 15px!important;
	}

	.content_page p {
		color: #575757;
		line-height: 1.5!important;
		font-size: 15px!important;
		margin: 10px auto;
	}


	.content_page .card_white_5 p {
		color: #575757;
		line-height: 1.5!important;
		font-size: 13px!important;
		margin: 10px auto;
	}


	.content_page h2 {
		font-size: 14px;
	}

	.content_page h3 {
		font-size: 20px;
		margin:2px 0;
		width: auto;
	}

	.bg_section_1 .content_yellow{
		width: 85%!important;
		max-width: 90%!important;
	}
	.bg_section_1 .content_yellow .bg_black{
		background: black;
		padding: 10px 30px;
		position: relative;
		left: 25px;
		top: 40px;
		line-height: 1.6;
		top: 71px;
		text-align: center;
	}


	.section_2 {
		padding: 144px 0 20px;
	}

	.bg-section_2 {
		margin-top: 100px;
		background-position: 95%;

	}

	.bg-section_2 .bg-black_section_2 {

		margin: auto;
		justify-content: center;
		top: -18px;

	}



	.bg-section_2 .info-section_2 .img img {
		width: 160px!important;
		position: absolute!important;
		top: -216px!important;
    left: 94px!important;
    z-index: -1!important;
	}



	.bg-section_2 .bg-black_section_2 h3 {
		color: #FBD600;
		padding: 11px 10px;
	}


	.bg-section_2 .info-section_2 .text {
		width: 100%;
		position: initial;
		top: -40px;
	}

	.bg-section_2 .info-section_2 .text p {
		font-size: 14px !important;
	}

	.bg-section_2 .info-section_2 p {
		text-align: center	;
		color: white;
		padding: 3px 0 50px;
		position: initial;
		left: auto;
		line-height: 2;
		 width: 100%;
	}


	section .bg-section_3{
		min-height: 260px
	}

	.bg-content_ll .info_section_3 .yellow_section_3 {
		width: 50%;
		background: #FBD600;
		line-height: 1!important;
		padding: 10px 10px 10px 40px;
		position: absolute;
		top: 75px;
		right: 0;
	}


	.responsive_display{
		display: block;
		padding: 50px 0px 20px;
	}


	.responsive_none{
		display: none;
	}


	
	.responsive_display p{
		margin: 3px 0 10px 0;
		font-size: 13px!important;
	 }

	 .responsive_display .info_section_5 p{
		font-size: 13px!important ;
		margin: 0;
	 }

	 .responsive_display  .white_section_3 p {
		 margin: 0;
		 font-size: 13px !important;
	 }

	.section_4 {
		margin: 2% 3%;
	}


	.icons_section .icon_1 {
		min-width: 144px;
		min-height: 144px;
		margin: 20px 0px;
	}

	.icons_section .icon_1 img {
		width: 109px;
	}
.icons_section .icon_1 .yellow-span  {
		color: #FBD600!important;

	}

	.bg-content_ll .info_section_3 {
		width: 100%;
		position: relative;
		top: 30px;
	}


.section_4 .black_section_4{
	background: #000000;
	color: #ececec;
	width: 85%;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
}


.section_4 li {

	padding: 5px 20px 0 15px;
	grid-template-columns: 10% 75%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.section_4 li p {
    text-align: justify;
}

	.icons_section{
		display: flex;
		width:auto;
		margin: auto;
		overflow: unset;
	}

	section .section_5 .bg_section_5 {
		background: url(../images/bg_section_5.png);
		min-height: 141px;
		background-size: cover;
		background-position: right;
		min-height: 141px;
	}



.section_5 .bg-content_l .yellow_section_5{
	background: #FBD600;
    width: 57%;
    line-height: 1.2;
    position: absolute;
    right: 0;
    padding: 15px 0 17px 40px;
    margin-top: 59px;
    margin-top: 64px;
}
.section_5 .bg-content_l .yellow_section_5 span,h3 {
	font-size: 15px!important;
	margin: auto;
	width: 100%;
}

	.section_5 .cards_section_5{
		flex-wrap: wrap;
	}

	.section_5 .cards_section_5 .card_white_5 {
		background: #d6d6d6;
		color: #557757;
		margin: 7px 0px;
		padding: 15px;
		text-align: justify;
		min-height: 100%;
	}

	
	.pr{
		margin-right: 0;
	}
	.pl{
		margin-left: 0;
	}

	section .bg_section_7 {
		background: url(../images/bg_section_7.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: flex-end;
		min-height: 141px;
	}
 section	.bg_section_9 {
		background: url(../images/bg_section_9.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		/* padding: 10px 0 140px; */
		min-height: 141px;
	}


	section .bg_section_11 {
		background: url(../images/bg_section_11.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		/* padding: 10px 0 140px; */
		display: flex;
		justify-content: flex-end;
		min-height: 141px;
	}


	.buttons{
		display: flex;
		justify-content: space-evenly;
	}

	.section_12 button.sodimac {
		border: none;
		padding: 15px 18px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		min-width: 40%;
	}

	.section_12 button.maestro {
		border: none;
		padding: 15px 18px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		min-width: 40%;
	}

	.section_12 .section_cities {
		display: grid;
		grid-template-columns: 100%;
	}

	.section_12 .info_city {
		margin: 15px 0px;
		background: #575757;
		color: #ececec;
		padding: 20px 10px;
	}

	.info_city span.map_line {
		margin: 0 5px;
	}

}

@media (max-width: 670px) {
	.bg-content_ll .info_section_3 .yellow_section_3 {
		width: 50%;
		background: #FBD600;
		line-height: 1!important;
		padding: 10px 10px 10px 40px;
		position: absolute;
		top: 60px;
		right: 0;
	}
	.section_cities .info_city span {
		font-size: 15px!important;
	}
}



@media (max-width: 576px) {

	.bg_section_1 h1{
		margin: 20px 0;
	}

	.bg_section_1 .yellow_line img{
		width: 40px;
		margin: 0 5px 0 0;
		height: 40px;
	}

	.section_cities .info_city span {
		font-size: 12px!important;
	}

section .bg_section_1 {
	min-height: 204px!important;
}
	.bg_section_1 .yellow_line {
		background: #FBD600;
		color: black;
		width: 45%;
		padding: 15px 24px;
		text-align: right;
	}
	 h1 {
		font-size: 12px!important;
		font-weight: bold;
	}


	.bg_section_1 .content_yellow .bg_black p {
		font-size: 11px!important;
	}

	.section_2 h3 {
		width: auto;
		padding: 0;
		margin:  5px 0;
	}
	section .bg-section_3{
		min-height: 141px
	}

	.bg-content_ll .info_section_3 .yellow_section_3 {
		width: 50%;
		background: #FBD600;
		line-height: 1!important;
		padding: 10px 10px 10px 40px;
		position: absolute;
		top: 72px;
		right: 0;
	}
	.bg-content_ll .info_section_3 .yellow_section_3 span {
		font-size: 15px;
		/* line-height: 1; */
	}
}


@media  (max-width: 374px)
{
	.bg_section_1 h1{
		margin: 2px 0;
	}
}


.d_none{
	display: none!important;
}

.d_block{
	display: block!important;
}